[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = https://github.com/jlblancoc/nanoflann
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
